.card {
    margin-bottom: 1rem;
}

.card-header {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}

.unpublish a {
    color: red;
    font-weight: bold;
}

.unpublish input {
    max-width: 13rem;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}
